* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, white, rgb(96, 172, 93));
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
    background: linear-gradient(135deg, #ff6961, #ffcc5c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    background: linear-gradient(135deg, #9370db, #3cb371);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Updated CSS */
.camera-container {
    position: relative;
    width: 100%; /* Ensure the container fills its parent */
    max-width: 400px;
    height: auto; /* Allow the height to adjust based on the video aspect ratio */
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

video {
    width: 100%; /* Ensure the video fills its container */
    height: auto; /* Allow the height to adjust based on the video aspect ratio */
    object-fit: cover;
}


.capture-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 10px; /* Adjust as needed */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.capture-button:hover {
    opacity: 1;
}

.results {
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin-top: 20px;
}

.results > div {
    margin-bottom: 10px;
}